10_lit/
00_general/
**/.DS_Store
*.xlsx
*.xlsx
*.pyc
Icon?
![iI]con[_a-zA-Z0-9]
__pycache__
20_data/regelleistung/archive/RESULT_LIST_ANONYM_ENERGY_MARKET_aFRR_2024-06-01_2024-06-30.csv
20_data/regelleistung/zips/RESULT_LIST_ANONYM_ENERGY_MARKET_aFRR_2021-01-01_2021-12-31.xlsx.zip
20_data/regelleistung/zips/RESULT_LIST_ANONYM_ENERGY_MARKET_aFRR_2022-01-01_2022-12-31.xlsx.zip
20_data/regelleistung/zips/RESULT_LIST_ANONYM_ENERGY_MARKET_aFRR_2024-10-01_2024-10-31.xlsx.zip
